.well-sm h4 {
  padding: 0 0 15px 15px;
  border-bottom: 1px solid #eee;
}
.board {
  height: 600px;
  background: url("/assets/images/tic_tac_toe.jpg") no-repeat center center;
}
.play-board {
  position: relative;
  top: 120px;
  height: 360px;
  width: 360px;
  transform: rotate(2deg);
}
.play-board .cell {
  width: 120px;
  height: 120px;
  float: right;
}
.play-board .cell.empty:hover {
  background: #e5e5e5;
  box-shadow: inset 0 0 20px #fff;
  cursor: cell;
  opacity: 0.2;
}
.sign_x {
  background-image: url("/assets/images/tic-tac-toe-hi.png");
  background-position: -105px 0;
}
.sign_o {
  background-image: url("/assets/images/tic-tac-toe-hi.png");
  background-position: 5px 0;
}
.player {
  margin-bottom: 3px;
}
.play-board .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  padding-top: 170px;
  font-weight: bolder;
  font-size: x-large;
}
.play-board .overlay span {
  box-shadow: 0 0 20px #fff;
  background: white;
}
.label-sign {
  margin: -8px 0;
  background-size: 73px;
  height: 40px;
  width: 40px;
}
